@import 'core/variables';
@import 'core/reset';
@import 'layout/header';
@import 'layout/footer';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section1 {
    display: flex;
}
.section__fav--title {
    color: blue;
}

.section__char--title {
align-items: center;
color: blue;
}

.list {
    list-style: none;
}
.footer {
    background-color: blue;
    color: white;
}