@import 'core/variables';
@import 'core/reset';
@import 'layout/header';
@import 'layout/footer';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main__box{
    display:flex;
}
.section1 {
    display: flex;
}

.section__fav--title {
    color: blue;
}

.section__char--title {
align-items: center;
color: blue;
}

.list {
    list-style: none;
}
.footer {
    background-color: blue;
    color: white;
}
.character__box {
    border: 1px solid grey;
    text-align: center;
    padding: 10px 10px;
   
}
.character__img{
    width: 210px;
    height: 295px;
}
.character__name {
    color:cadetblue
}
.select{
    background-color: cadetblue;
    color: white;
}